body
  background-color: #000
  color: #999
  font-family: 'Open Sans', sans-serif
  font-size: 16px

#container
  width: 800px
  margin: 0 auto

#canvas
  background-color: #000
  //background: linear-gradient(#323991, #000)
  margin: 50px auto
  position: relative
  display: block
  border-radius: 5px

#controls
  text-align: right

.slider
  appearance: none
  width: 150px
  height: 15px
  background: #444
  &::-webkit-slider-thumb
    appearance: none
    width: 15px
    height: 15px
    background: #888

.footer
  p
    text-align: center
    font-size: 12px
    text-transform: uppercase
    letter-spacing: 2px
    a
      color: #ccc
      text-decoration: none
    #heart
      font-size: 10px
      color: red
