body
  background-color: #000

#canvas
  background-color: #000
  //background: linear-gradient(#323991, #000)
  margin: 50px auto
  position: relative
  display: block
  border-radius: 5px

.drop
  background-color: #fff
  width: 1px
  height: 1px
  position: absolute

.footer
  p
    color: #999
    font-family: 'Open Sans', sans-serif
    font-size: 12px
    text-align: center
    text-transform: uppercase
    letter-spacing: 2px
    a
      color: #ccc
      text-decoration: none
    #heart
      font-size: 10px
      color: red
