body
  background-color: #000

#container
  background-color: #323991
  background: linear-gradient(#323991, #000)
  width: 800px
  height: 600px
  margin: 50px auto
  position: relative
  border-radius: 5px

.drop
  background-color: #fff
  width: 1px
  height: 1px
  position: absolute
