body {
  background-color: #000;
  color: #999;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

#container {
  width: 800px;
  margin: 0 auto; }

#canvas {
  background-color: #000;
  margin: 50px auto;
  position: relative;
  display: block;
  border-radius: 5px; }

#controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

#sliders {
  text-align: right; }

.color-selectors {
  text-align: center; }

.color-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #444;
  border-radius: 35px;
  overflow: hidden;
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 5px 0 0 0; }
  .color-select::-webkit-color-swatch-wrapper {
    padding: 0; }
  .color-select::-webkit-color-swatch {
    border: none; }

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 150px;
  height: 15px;
  background: #444; }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #888; }

.footer p {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .footer p a {
    color: #ccc;
    text-decoration: none; }
  .footer p #heart {
    font-size: 10px;
    color: red; }
